---
# Passwords for our environment
# Edit to taste and rename passwords.yml
ADMIN_TOKEN: 144eb19b55896b9119082871ec5b004d1c9328ed2a6320f49c9e4fe99446365368aec26113007b6e9010dafb7ef564fa5b7a19f2a6f4a351eed0dd1167581e28
#
DB_PASS: mydbpass
ADMIN_PASS: myadminpass
CEILOMETER_DBPASS: myceliometerdbpass
CEILOMETER_PASS: myceilometerpass
CINDER_DBPASS: mycinderdbpass
CINDER_PASS: mycinderpass
DASH_DBPASS: mydashpass
DEMO_PASS: mydemopass
GLANCE_DBPASS: myglancedbpass
GLANCE_PASS: myglancepass
HEAT_DBPASS: myheatdbpass
HEAT_DOMAIN_PASS: myheatdomainpass
HEAT_PASS: myheatpass
KEYSTONE_DBPASS: mykeystonedbpass
NEUTRON_DBPASS: myneutrondbpass
NEUTRON_PASS: myneutronpass
NOVA_DBPASS: mynovadbpass
NOVA_PASS: mynovapass
RABBIT_PASS: myrabbitpass
SWIFT_PASS: myswiftpass
...
